USE [master]
GO
/****** Object:  Database [CEGRamosAlfaSoluciones]    Script Date: 06/10/2022 07:42:24 p. m. ******/
CREATE DATABASE [CEGRamosAlfaSoluciones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CEGRamosAlfaSoluciones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CEGRamosAlfaSoluciones.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CEGRamosAlfaSoluciones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CEGRamosAlfaSoluciones_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CEGRamosAlfaSoluciones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CEGRamosAlfaSoluciones]
GO
/****** Object:  StoredProcedure [dbo].[AsignarBecaAdd]    Script Date: 06/10/2022 07:42:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proCEDURE [dbo].[AsignarBecaAdd]
@IdBeca int,
@IdAlumno int
as
UPDATE Alumno set Alumno.IdBeca=@IdBeca where Alumno.IdAlumno = @IdAlumno
GO
/****** Object:  StoredProcedure [dbo].[BecasGetAll]    Script Date: 06/10/2022 07:42:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BecasGetAll]
@IdBeca INT 
as
IF(@IdBeca <= 0 )
select Alumno.IdAlumno,Alumno.Nombre,Alumno.ApellidoPat,Alumno.ApellidoMat,Alumno.Fotografia,Alumno.Sexo, Alumno.IdBeca
from Alumno
where Alumno.IdBeca IS NULL
ELSE
select Alumno.IdAlumno,Alumno.Nombre,Alumno.ApellidoPat,Alumno.ApellidoMat,Alumno.Fotografia,Alumno.Sexo, Alumno.IdBeca,Beca.NombreBeca as NombreBeca
from Alumno
inner join Beca on Alumno.IdBeca = Beca.IdBeca
where Alumno.IdBeca = @IdBeca
GO
/****** Object:  StoredProcedure [dbo].[GetAllBeca]    Script Date: 06/10/2022 07:42:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllBeca]
AS
SELECT Beca.IdBeca,Beca.NombreBeca,Beca.MontoMensual
FROM Beca
GO
/****** Object:  StoredProcedure [dbo].[UpdateBecaAlumno]    Script Date: 06/10/2022 07:42:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBecaAlumno]
@IdBeca int,
@IdAlumno int
as
UPDATE Alumno SET Alumno.IdBeca = @IdBeca
where Alumno.IdAlumno = @IdAlumno
GO
/****** Object:  StoredProcedure [dbo].[UsuarioAdd]    Script Date: 06/10/2022 07:42:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioAdd]
@Username varchar(50),
@Clave Varchar(50)
as
insert into Usuario (Username,Clave) Values (@Username,@Clave)
GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetByIdUser]    Script Date: 06/10/2022 07:42:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetByIdUser]
@Username varchar(50)
as
SELECT Usuario.Username,Usuario.Clave, IdUsuario from Usuario
WHERE Usuario.Username = @Username
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 06/10/2022 07:42:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumno](
	[IdAlumno] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[ApellidoPat] [varchar](50) NULL,
	[ApellidoMat] [varchar](50) NULL,
	[Fotografia] [varchar](max) NULL,
	[Sexo] [varchar](1) NULL,
	[IdBeca] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Beca]    Script Date: 06/10/2022 07:42:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Beca](
	[IdBeca] [int] IDENTITY(1,1) NOT NULL,
	[NombreBeca] [varchar](50) NULL,
	[MontoMensual] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBeca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 06/10/2022 07:42:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materia](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[NombreMateria] [varchar](50) NULL,
	[Creditos] [tinyint] NULL,
	[IdSemestre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Semestre]    Script Date: 06/10/2022 07:42:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Semestre](
	[IdSemestre] [int] IDENTITY(1,1) NOT NULL,
	[NombreSemestre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSemestre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/10/2022 07:42:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Clave] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Alumno] ON 

GO
SET IDENTITY_INSERT [dbo].[Alumno] OFF
GO
SET IDENTITY_INSERT [dbo].[Beca] ON 

GO
INSERT [dbo].[Beca] ([IdBeca], [NombreBeca], [MontoMensual]) VALUES (1, N'Beca Deportiva Atlestismo', CAST(15000 AS Decimal(18, 0)))
GO
INSERT [dbo].[Beca] ([IdBeca], [NombreBeca], [MontoMensual]) VALUES (6, N'Beca Deportiva Gimnasia', CAST(8000 AS Decimal(18, 0)))
GO
INSERT [dbo].[Beca] ([IdBeca], [NombreBeca], [MontoMensual]) VALUES (7, N'Beca Cultural Bellas Artes', CAST(10000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[Beca] OFF
GO
SET IDENTITY_INSERT [dbo].[Materia] ON 

GO
INSERT [dbo].[Materia] ([IdMateria], [NombreMateria], [Creditos], [IdSemestre]) VALUES (1, N'JavaScript', 10, 2)
GO
SET IDENTITY_INSERT [dbo].[Materia] OFF
GO
SET IDENTITY_INSERT [dbo].[Semestre] ON 

GO
INSERT [dbo].[Semestre] ([IdSemestre], [NombreSemestre]) VALUES (1, N'Primero')
GO
INSERT [dbo].[Semestre] ([IdSemestre], [NombreSemestre]) VALUES (2, N'Segundo')
GO
INSERT [dbo].[Semestre] ([IdSemestre], [NombreSemestre]) VALUES (3, N'Tercero')
GO
SET IDENTITY_INSERT [dbo].[Semestre] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

GO
INSERT [dbo].[Usuario] ([IdUsuario], [Username], [Clave]) VALUES (1, N'egodinez12', N'welcome01')
GO
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD FOREIGN KEY([IdBeca])
REFERENCES [dbo].[Beca] ([IdBeca])
GO
ALTER TABLE [dbo].[Materia]  WITH CHECK ADD FOREIGN KEY([IdSemestre])
REFERENCES [dbo].[Semestre] ([IdSemestre])
GO
USE [master]
GO
