@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript" src="~/js/Materia.js"></script>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="panel-title">Control de Materias: </h2>
        </div>
    </div>
    <hr />
    <br /><br />
    <form>
        <div class="input-group mb-3">
            <input type="text" class="bi bi-pc-display" id="txtIdMateria" placeholder="IdMateria" disabled="disabled" />
        </div>
        <div class="input-group mb-3">
            <input type="text" class="bi bi-pc-display" id="txtNombreMateria" placeholder="Nombre" />
        </div>
        <div class="input-group mb-3">
            <input type="text" class="bi bi-pc-display" id="txtCreditos" placeholder="Creditos" />
        </div>
        <div class="input-group mb-3">
            <input type="text" class="bi bi-pc-display" id="txtIdSemestre" placeholder="Semestre" />
        </div>
    </form>
    <div class="row">
        <div class="col-md-1">
            <button id="boton" type="submit" class="btn btn-success" title="Agregar" onclick="Add()">
                Agregar
            </button>
        </div>
        <div class="col-md-1">
            <button id="boton" class="btn btn-danger" title="Cancelar">
                Cancelar
            </button>
        </div>

    </div>

</div>



<div class="container">
    <div class="row">
        <div class="col-md-5">

            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Detalle</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <h5>
                                Acción completada con éxito
                            </h5>
                        </div>
                        <div class="modal-footer">
                            @Html.ActionLink("Regresar", "GetAll", "Materia", htmlAttributes: new { @class = "btn btn-primary  btn-lg" })
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
